# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R
3. SQL
4. Julia
5. Java
6. c/c++
7. Scala
8. Java Script

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. BeautifulSoup.
10. Scrapy.
11. NuPIC.
12. Ramp.
13. PyBrain.
14. LightGBM.
15. ELI5.

Data Science Tools:

# Data Science Tools

SAS. It is one of those data science tools which are specifically designed for statistical operation

Apache Spark

BigML

# H3:Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)
# Result: 9

9

In [5]:
code1 = compile("(5 + 7) * 2", "<string>", "eval")
eval(code1)
# Result: 24

24

In [6]:
import math
# Volume of a sphere
code2 = compile("4 / 3 * math.pi * math.pow(25, 3)", "<string>", "eval")
eval(code2)
# Result: 65449.84694978735

65449.84694978735

This a simple arithmetic expression to mutiply then add integers

In [7]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [8]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

# Result: 3.3333333333333335 hours

0 days, 3.3333333333333335 hours, 0 mins.

# OBJECTIVES:

The objective of this course is to give in depth knowledge about different types of tools.Like R and python etc.
This course is very useful.

List popular languages for Data Science

1. R
2. Python
3. SQL
4. Machine Learning

# h2: Author

Germano Costa